@model Bookstore.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="mt-2">Create</h2>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="AuthorId" class="control-label">Author</label>
                <select asp-for="AuthorId" asp-items="@(new SelectList(Model.Authors, "Id", "FullName"))" class="form-control"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" asp-for="File" class="form-control " />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_Validation"/>
}

